<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Charles's Profile</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://i.imgur.com/sKV54PO.jpeg); background-size: cover;">
<!-- Very cool background gallery in https://imgur.com/gallery/vdC7V -->
<div class="container-fluid">
    <div class="row align-items-center text-light" style="padding: 8em;">
        <div class="col-sm">
            <h1 class="text-center mb-5">@charles_melara</h1>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quam ligula, tempus mattis efficitur scelerisque, mollis et metus. Integer et semper mi. Aliquam posuere sapien in nibh congue interdum.</p> 
            <p class="text-center">Proin in tortor elementum, condimentum diam ut, pharetra leo. Proin at lacus eget ligula placerat pretium. Morbi nec mauris nulla. Suspendisse et nunc elementum, mattis diam at, convallis nunc.</p> 
        </div>
    </div>
</div>
<a href="javascript:window.history.go(-1);" class="text-light" style="position: absolute; top: 20px; left: 20px;">Go Back!</a>
</body>
</html>