<a style="display: none;" data-author="adrio" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Adrio</a>
<a style="display: none;" data-author="alex" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Alex</a>
<a style="display: none;" data-author="arabe" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Arabe</a>
<a style="display: none;" data-author="baqueta" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Baqueta</a>
<a style="display: none;" data-author="bio" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Bio</a>
<a style="display: none;" data-author="brandt" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Brandt</a>
<a style="" data-author="charles" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Charles</a>
<a style="display: none;" data-author="dani" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Dani</a>
<a style="display: none;" data-author="dio" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Dio</a>
<a style="display: none;" data-author="dorime" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Dorime</a>
<a style="display: none;" data-author="eduardosiqueira" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Eduardo Siqueira</a>
<a style="display: none;" data-author="el" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">El</a>
<a style="display: none;" data-author="guerra" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Guerra</a>
<a style="display: none;" data-author="helio" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Hélio</a>
<a style="display: none;" data-author="hiro" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Hiro</a>
<a style="display: none;" data-author="kenzo" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Kenzo</a>
<a style="display: none;" data-author="kibon" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Kibon</a>
<a style="display: none;" data-author="lu" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Luíza</a>
<a style="display: none;" data-author="lusca" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Lusca</a>
<a style="display: none;" data-author="marcos" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Marcos</a>
<a style="display: none;" data-author="momoyo" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">momoyo</a>
<a style="display: none;" data-author="monici" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Monici</a>
<a style="display: none;" data-author="mono" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Mono</a>
<a style="display: none;" data-author="murillo" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Murillo</a>
<a style="display: none;" data-author="odonto" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Odonto</a>
<a style="display: none;" data-author="paulo" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Paulo</a>
<a style="display: none;" data-author="rafaquatro" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Rafa Quatro</a>
<a style="display: none;" data-author="ribe3iro" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Ribe3iro</a>
<a style="display: none;" data-author="sorvete" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Sorvete</a>
<a style="display: none;" data-author="tigre" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Tigre</a>
<a style="" data-author="vanloon" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Van Loon</a>
<a style="display: none;" data-author="vini" href="#" onclick="window.location=`http://${this.dataset.author}.blog.ganeshicmc.com:8001/`">Vini</a>
